.loader{

    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 18vw;
    height: 5vh;
    font-size:larger;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
}

.input {
    display: flex;
    align-items: center;
    flex-direction: column;

} 

button{
    width: 7vw;
    height: 5vh;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: palevioletred;
    font-weight: 900;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 22vw;
}